@font-face{
    font-family: 'Javoxir Akbarov';
    src: url('../fonts/THORN.ttf') format('truetype'); /* Путь к файлу со шрифтом */
    src: url('../fonts/THORN.woff') format('woff'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'SignifyLite';
    src: url('../fonts/signifylite-webfont.eot');
    src: url('../fonts/signifylite-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signifylite-webfont.woff') format('woff'),
         url('../fonts/signifylite-webfont.ttf') format('truetype'),
         url('../fonts/signifylite-webfont.svg#SignifyLite') format('svg');
    font-weight: normal;
    font-style: normal;

}
a{
   text-decoration: solid ,red;text-decoration: none;
}
ul{
    background-color: seagreen;padding-inline-start: 0;

}
ul li{
    list-style-type: upper-alpha; /*lower-roman,upper-roman*/
     list-style-position: outside; 
     list-style-image: url('../img/botanical.png');
     list-style: none;
    border:1px solid red;
    text-transform: capitalize;
    text-align: start;
    text-indent: 20px;
}
.fonts{
    color:rgb(26, 26, 2);
    /* font-family:'Arial','Tahoma', sans-serif; */
    /* font-weight: bolder;
    font-style: italic;
    font-size: 17px;
    font-variant: small-caps; */
    font: italic small-caps bold 17px 'Javoxir Akbarov';
    
}
.singify{
    font-family: SignifyLite;
    font-size: 50px;
    color:red;
}
.singify:hover{
    color:yellow;
    cursor: pointer;
}

