@charset "UTF-8";
.yashil{
    background-color: green !important;
}
.div{
    background-color: yellow;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0);
    background-color: rgb(243, 4, 4);
}
.div3{
    /* background-color: salmon;
    background-image: url("../img/1000.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    background-attachment: fixed; */
    background: fixed url("../img/1000.jpg") no-repeat left center / 50% , fixed url("../img/1000.jpg") no-repeat right center / 50%;
    height: 500px;
    /* border-top-color: red;
    border-top-style: solid;
    border-top-width: 15px; */
    border:5px solid red;
    border-radius: 50%   ;
    margin-top:150px;
    margin-bottom:50px;
    margin:10px 20px;
    padding:50px 50px ; 
}

#block{
    width: 150px;
    height: 150px;
    background-color: black;
    margin-left: 450px;
}