// @import 'var.scss';
@import '_miksin.scss';
@function sum($a,$b){
    @if $a+$b == 100 {
        @return 15px;
    }
    @else if($a + $b > 100){
        @return 20px;
    }
    @else {
        @return 10px;
    }
}


// @include google-font-load(Roboto);
// @include google-font-load(Alata);



// body{
//     @include yangisi;
//     font: {
//         weight:bolder;
//         family: Roboto;
//     }
//     background:{
//         color:$cbg;
//         position: center;
//     }
//     @include font(30,green);
   
// }

// b{
//     @include box-shadow(20px 20px 30px yellow);
// }
// ul{
//     border:1px solid red;
//     @include apply-li{
//         padding:1px solid red;
//     }
// }
// ul.test{
//     @include apply-li{
//         margin: 0 auto;
//     }
// }
// @media only screen and (max-width:960px){
//     body{
//         font-size: 125%;
//     }
//     div{
//         color:red;
//     }
// }
// body{
//     background-color:$test;
//     font-size: $asd;
//     $asd:50px;
//     @include font;
//     div{
//         font-size: $asd;
//         a{
//             color:red;
//         }
//     }
// }
$color: redc;
$people: Asadbek,Javoxir,Abduhalil,Ixtiyor;

body{
    font-size: 100%;
    background-color:yellow;
    @include large-screen{
        font-size: 125%;
        background-color:green;
    }
    @include normal-screen{
        background-color:darken(red,20%);
        font-size: sum(50px,51px);
    }

    @if ($color == red){
        color: darken(red,20%);
    } 
    @else{
        color: lighten(red,30%)
    }
}

@for $i from 1 through 12{
    .col-xs-#{$i} {
        width: $i * 2em;
    }
}
@each $var in $people {
    .#{$var}{
        color:red;
    }
}
$i: 1;
@while $i <=10{
    .picture-#{$i}{
        background-size: $i * 15%;
    }
    $i: $i + 1;
}

%test{
    color:red;
    background-color: yellow;
}
%test2{
    border:1px solid red;
}
p{
    @extend %test;
    width: 200px;
    @extend %test2;
}
div{
    background-size: cover;
    @extend %test;
    @extend %test2;
}