.box-shadow{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    box-shadow: 10px 20px 10px rgb(221, 19, 19);
    text-shadow: 10px 20px 3px #000,-2px -2px 3px yellowgreen;
}
img{
    width: 40%;
    margin:0 auto;
    display: inline-block;
    /* transition-property: transform;
     transition-duration: 1s;
     transition-timing-function: cubic-bezier(.91,-0.55,.52,1.7);
     transition-delay: 0.5s; */
     transition: transform 1s cubic-bezier(.91,-0.55,.52,1.7) 0.5s;
    /*transform: rotate(360deg); */
    /* http://htmlbook.ru/css/transition-timing-function */
}
img:last-child{
    margin-left: 50px;
}
img:hover{
    transform:translate(10px,10px); /*translateX(10px) translateY(10px)  */
    transform: scale(1.2);
    transform:skew(15deg,15deg);  /* skewX(45deg) skewY(45deg) */
    transform: rotate(360deg) skew(15deg,15deg) translate(50px);
    cursor: pointer;

}
img:hover:last-child{
    /* transform:skew(15deg,-15deg);  */
  
}